{% extends 'main/base.html' %}

{% block content %}
    <div class="row pt-5 pb-3">
        <h1 class="text-center mb-4">{{ h1 }}</h1>
    </div>

    <div class="d-flex justify-content-center">
        <form method="post" class="border rounded-2 p-4 mw-100 register needs-validation" novalidate>
            {% csrf_token %}

            {% for f in form %}
            <div class="form-floating mb-3">
                {% if f.errors %}
                    <div class="form-floating div-input mb-3" data-haserror="1">
                {% else %}
                    <div class="form-floating div-input mb-3" data-haserror="0">
                {% endif %}
                    {{ f }}
                    <label for="{{ f.id_for_label }}">{{f.label}}</label>
                    <div class="invalid-feedback">{{ f.errors }}</div>
                </div>
            </div>
            {% endfor %}

            <div class="text-danger form-error">{{ form.non_field_errors }}</div>

            <!--{% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}-->

            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-dark change_password">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}
