{% extends 'main/base.html' %}

{% block content %}
    <div class="row pt-5 pb-5">
        <h1 class="text-center mb-4">{{ h1 }}</h1>
        <p class="mb-1">E-sportsman reaction speed is 130-150ms. Race driver reacts to the start signals within 200ms. Do you want know what your reaction speed?</p>
        <p class="mb-1">There is reaction coach below. You need press "Start" and when you will see the number, you need click on button with corresponding number. You can enable keyboard by click on the checkbox.</p>
        <p class="mb-1">You can register and than you can see your personal records. You can will be able to use this raction coach ragularly and watch your reaction speed decrease.</p>
    </div>
    <div class="row flex-nowrap">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="1">1</button>
        </div>
        <div class="col col-md-1"></div>
        <div class="col d-flex justify-content-start">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="2">2</button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div id="task" class="col col-md-1 d-flex justify-content-center align-items-center">
            <div></div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pb-4">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="3">3</button>
        </div>
        <div class="col col-md-1"></div>
        <div class="col d-flex justify-content-start">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="4">4</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-check form-switch d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" id="keyboardSwitch">
            <label class="form-check-label ms-2" for="keyboardSwitch">Enable keyboard</label>
        </div>
    </div>
    <div class="row mt-3 fs-3">
        <div id="info" class="d-flex justify-content-center">&nbsp;</div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="d-flex justify-content-center">
            <button type="button" id="btnstart" class="btn btn-success btn-lg px-5 shadow-none">Start</button>
        </div>
    </div>
{% endblock %}