{% extends 'main/base.html' %}

{% block content %}
    <div class="row pt-5 pb-5">
        <h1 class="text-center mb-4">{{ title }}</h1>
        <p>Aliquam erat volutpat. Proin quis augue id magna accumsan euismod. Donec ornare sagittis nulla ac facilisis. Curabitur accumsan efficitur faucibus. Suspendisse a cursus sapien. Pellentesque congue faucibus interdum. Integer in pulvinar nisl, id interdum libero. Phasellus eget eros ipsum. Donec eu dapibus nisi. Nunc tortor nisl, dictum eu viverra non, mollis a ligula. Duis molestie feugiat libero, a pretium est accumsan et. Nunc non quam nibh. Aliquam erat volutpat. Vestibulum consectetur dui a massa dapibus pellentesque. Suspendisse consectetur sapien felis, sit amet tempor nisl dapibus id. Etiam non dui nec dui consequat fringilla ornare eget lorem.</p>
    </div>
    <div class="row flex-nowrap">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="1">1</button>
        </div>
        <div class="col col-md-1"></div>
        <div class="col d-flex justify-content-start">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="2">2</button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div id="task" class="col col-md-1 d-flex justify-content-center align-items-center">
            <div></div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pb-4">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="3">3</button>
        </div>
        <div class="col col-md-1"></div>
        <div class="col d-flex justify-content-start">
            <button type="button" class="btn_task btn btn-outline-dark btn-lg py-3 px-4" data-number="4">4</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-flex justify-content-center">
            <button type="button" id="btnstart" class="btn btn-success btn-lg px-5 shadow-none">Start</button>
        </div>
    </div>
    <div class="row mt-4 fs-3">
        <div id="info" class="d-flex justify-content-center">
        </div>
    </div>
{% endblock %}