{% extends 'main/base.html' %}
{% block content %}
    <div class="row pt-5 pb-5">
        <h1 class="text-center mb-4">{{ h1 }}</h1>
    </div>
    <div class="row justify-content-center">
        <div class="table_wrap">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">With keyboard</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Only mouse</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <table class="personal_all table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Average time (seconds)</th>
                            <th scope="col">Date</th>
                            <th scope="col">With keyboard</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in object_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ row.time }}</td>
                                <td>{{ row.time_create|date:"d.m.Y H:i" }}</td>
                                {% if row.enable_keyboard %}
                                    <td>yes</td>
                                {% else %}
                                    <td>no</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <table class="personal_all table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Average time (seconds)</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in object_list %}
                            {% if row.enable_keyboard %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ row.time }}</td>
                                    <td>{{ row.time_create|date:"d.m.Y H:i" }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <table class="personal_all table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Average time (seconds)</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in object_list %}
                            {% if not row.enable_keyboard %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ row.time }}</td>
                                    <td>{{ row.time_create|date:"d.m.Y H:i" }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}