{% extends 'main/base.html' %}

{% block content %}
    <div class="row pt-5 pb-3">
        <h1 class="text-center mb-4">{{ h1 }}</h1>
        {% if slug == 'email_sent' %}
            <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        {% else %}
            <p class="text-center">Enter your account's email address.</p>
        {% endif %}
    </div>

    {% if slug != 'email_sent' %}
        <div class="d-flex justify-content-center">
            <form method="post" class="border rounded-2 p-4 mw-100 register needs-validation" novalidate>
                {% csrf_token %}

                {% for f in form %}
                <div class="form-floating mb-3">
                    {% if f.errors %}
                        <div class="form-floating div-input mb-3" data-haserror="1">
                    {% else %}
                        <div class="form-floating div-input mb-3" data-haserror="0">
                    {% endif %}
                        {{ f }}
                        <label for="{{ f.id_for_label }}">{{f.label}}</label>
                        <div class="invalid-feedback">{{ f.errors }}</div>
                    </div>
                </div>
                {% endfor %}

                <div class="text-danger form-error">{{ form.non_field_errors }}</div>

                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-dark reset_password">Reset password</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
